		<!-- *******************DATOS PERSONALES****************************** -->		
		<div class="panel panel-info">
			<div class="panel-heading">
				<div class="row">
					<div class="col-md-6">
						<p>
							<span class="text-left">Datos Personalesddddddd</span>
							
						</p>
					</div>

					<div class="col-md-offset-3 col-md-3">
						<p>
							<span class="text-right">Fecha de Registro: {{user.register_date|date}}</span>
						</p>
					</div>

				</div>	
			</div>

			<div class="panel-body">
			    <div class="col-md-5">
			    	<div class="thumbnail">
			      		<img src="backend/{{user.avatar}}">
			    	</div>
			    	<a href="#/user/myProfile/" class="pointer btn btn-success col-md-12">Editar Perfil</a>
		      	</div>
		      	<div class="col-md-7">
			    	<diw class="row">
				    	<di class="col-md-3">
				    		<p class="text-right">
				    			<b>User:</b>
				    		</p>
				    	</di>
				    	<div class="col-md-9">
				    		<p class="text-left">
								<span>{{user.user_name}}</span>				    		
				    		</p>
				    	</div>
			    	</diw>

			    	<diw class="row">
				    	<di class="col-md-3">
				    		<p class="text-right">
				    			<b>Name:</b>
				    		</p>
				    	</di>
				    	<div class="col-md-9">
				    		<p class="text-left">
								<span>{{user.name}}</span>				    		
				    		</p>
				    	</div>
			    	</diw>

					<diw class="row">
				    	<di class="col-md-3">
				    		<p class="text-right">
				    			<b>Email:</b>
				    		</p>
				    	</di>
				    	<div class="col-md-9">
				    		<p class="text-left">
								<span>{{user.email}}</span>				    		
				    		</p>
				    	</div>
			    	</diw>

			    	<diw class="row">
				    	<di class="col-md-3">
				    		<p class="text-right">
				    			<b>Phone:</b>
				    		</p>
				    	</di>
				    	<div class="col-md-9">
				    		<p class="text-left">
								<span>{{user.phone}}</span>				    		
				    		</p>
				    	</div>
			    	</diw>

			    	<diw class="row">
				    	<di class="col-md-3">
				    		<p class="text-right">
				    			<b>Country:</b>
				    		</p>
				    	</di>
				    	<div class="col-md-9">
				    		<p class="text-left">
								<span>{{user.country}}</span>				    		
				    		</p>
				    	</div>
			    	</diw>

			    	<diw class="row">
				    	<di class="col-md-3">
				    		<p class="text-right">
				    			<b>City:</b>
				    		</p>
				    	</di>
				    	<div class="col-md-9">
				    		<p class="text-left">
								<span>{{user.city}}</span>				    		
				    		</p>
				    	</div>
			    	</diw>

			    	<diw class="row">
				    	<di class="col-md-3">
				    		<p class="text-right">
				    			<b>Province:</b>
				    		</p>
				    	</di>
				    	<div class="col-md-9">
				    		<p class="text-left">
								<span>{{user.province}}</span>				    		
				    		</p>
				    	</div>
			    	</diw>

		      	</div>
			</div>
		</div>