<section id="imgBanner">
      <h2>Change password</h2>
</section>


<section id="primerForm">
    <div class="container">
        <form name="changePassForm" ng-submit="changePassw(changePassForm.$valid)" novalidate>
            <div class="row form-group">           
                <div class="col-md-offset-1  col-md-3">
                    <p class="text-right">
                        <label class="control-label" for="password_nuevo">New password</label>
                    </p>                        
                </div>
                <div class="col-md-5">
                    <input id="password_nuevo" name="password_nuevo" type="password" placeholder="******" class="form-control" required ng-model="datosChangPass.password_nuevo" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$">
                    <p class="text-right">                  
                        <a ng-click="formatPass()" class="formatPass pointer">View Format</a>
                    </p>
                </div>          
            </div><br><br>

            <div class="row form-group">           
                <div class="col-md-offset-1  col-md-3">
                    <p class="text-right">
                        <label class="control-label" for="password_nuevo2">Re-enter password</label>
                    </p>                        
                </div>
                <div class="col-md-5">
                    <input id="password_nuevo2" name="password_nuevo2" type="password" placeholder="******" class="form-control" required ng-model="datosChangPass.password_nuevo2" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$">
                    <span style="color: red;" ng-show="datosChangPass.difere">Los password no coinciden. Por favor intentalo nuevamente</span>
                </div>          
            </div><br><br>
            <div class="row form-group">  
                <button type="submit" class="col-md-offset-4 col-md-4 btn btn-success" id="btn-changePass">Done</button>
            </div>
        </form>
    </div>
</section>
