<!--=========== MODAL RECOVER PASSWORD ================--> 



  <div class="modal-header">                    
      <button type="button" class="close" data-dismiss="modal" ng-click="close()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>
      <div class=" row modal-title">
          <center>
              <h4>Borrar usuario</h4>
          </center>
      </div>                    
  </div>

  <div class="modal-body">
      <div class="row">
          <center>
              <p>Los datos de este usuario se borraran completamente. <br> 
              Estas seguro que quieres borrarlo?</p>
          </center>
      </div>
  </div>


  <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="close()">Cerrar</button>
      <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="close()">Aceptar</button>
  </div>

