
    <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDSqOoI0Dz0NsL3-lLYzBC2tS4PVfDZ0Jc" async defer></script> -->

    <style>      
      .placeIcon {
        width: 20px;
        height: 34px;
        margin: 4px;
      }
      .hotelIcon {
        width: 24px;
        height: 24px;
      }
      #resultsTable {
        border-collapse: collapse;
        width: 240px;
      }
      #rating {
        font-size: 13px;
        font-family: Arial Unicode MS;
      }
      .iw_table_row {
        height: 18px;
      }
      .iw_attribute_name {
        font-weight: bold;
        text-align: right;
      }
      .iw_table_icon {
        text-align: right;
      }
    </style>

    <section id="imgBanner">
      <h2>Our Courses</h2>
    </section>
    
    <!--=========== BEGIN COURSE BANNER SECTION ================-->
  <section id="courseArchive">
      <div class="container">


          <!-- Filtros -->          
          <div class="row" id="row_primero">         
              <div class="col-sm-3 pull-left">
                    <label>PageSize:</label>
                    <select ng-model="data_limit" class="form-control">
                        <option>3</option>
                        <option>9</option>
                        <option>12</option>
                        <option>15</option>
                    </select>
              </div>

                <div class="col-sm-6 pull-right">
                    <div class="col-md-12">
                      <label>Search:</label>
                      <input type="text" ng-model="search" ng-change="filter()" placeholder="Search" class="form-control" />
                    </div>

                    <div class="col-md-12 pull-right">
                      <br>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                              Order By
                              <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                  <a class="pointer" ng-click="sort_with('price');">Price
                                      <i class="glyphicon glyphicon-sort"></i>
                                  </a>
                                </li>
                                <li>
                                  <a class="pointer" ng-click="sort_with('subject');">Category A-Z / Z-A
                                      <i class="glyphicon glyphicon-sort"></i>
                                  </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
          </div>
          <br><br><br><br>

          <div class="row">
              <center>
                    <h5>Showing {{ searched.length }} of {{ entire_user}} entries</h5>
              </center> 
          </div>
          



          <!-- Cursos -->
          <div class="row" ng-show="filter_data > 0">
              <div class="col-md-4 margin_img_home" ng-repeat="data in searched = (file | filter:search | orderBy : base :reverse) | beginning_data:(current_grid-1)*data_limit | limitTo:data_limit">
                  <!-- details curso -->
                  <div class="single_course">
                      <div class="singCourse_imgarea">
                          <img src="backend/{{data.avatar}}" alt="" class="mediana">
                          <div class="mask">
                              <a href="#/course/{{data.id}}" class="course_more courseDetalles">View Course</a> 
                          </div>
                      </div>
                      <div class="singCourse_content">
                          <h3 class="singCourse_title">
                              <a href="#/course/{{data.id}}" class="courseDetalles">
                                {{(data.title).substring(0, 25)+" ..."}}
                              </a>
                          </h3>
                          <p>
                            {{(data.courseDescr).substring(0, 150)+" ..."}}
                          </p>
                          <p class="text-right text-primary">
                            {{data.price| currency: '€ '}}
                          </p>
                      </div>
                      <div class="singCourse_author">
                        <div class="btn-group col-md-6">
                            <button class="btn btn-primary" ng-click="hacerLike(data.id)" title="Me gusta">
                                <i class="glyphicon glyphicon-thumbs-up"></i>
                            </button>
                            <button class="btn btn-success" title="Seguir curso">
                                <i class="glyphicon glyphicon-eye-open"></i>
                            </button>
                            <button class="btn btn-warning" title="Comentarios">
                                <i class="glyphicon glyphicon-info-sign"></i>
                            </button>
                        </div>
                          <button class="col-md-offset-2 col-md-4 btn btn-default btn-lg" title="Agregar a carrito">
                              <i class="glyphicon glyphicon-shopping-cart"></i>
                          </button><br><br><br>
                          
                      </div>

                  </div>

              </div>
          </div>


          <!-- Mensaje si no hay registros -->
          <div class="row" ng-show="filter_data == 0">
              <div class="col-md-12">
                  <center>                            
                      <h4>No records found..</h4>
                  </center>
              </div>
          </div>


          <!-- Paginacion -->
          <div class="row" ng-show="filter_data > 0">
              <center>
                  <ul uib-pagination
                      class="pagination-sm"
                      total-items="filter_data"
                      ng-model="current_grid"
                      max-size="5"
                      on-select-page="page_position(page)"
                      boundary-links="true"                      
                      items-per-page="data_limit"
                      rotate="false">                       
                  </ul>
              </center>
          </div> 

          <!-- Courses en MAPA -->
          <div class="row"><br>
          <br>
          <br>
          <br>
          <br>
            <div class="title_area">
                <h2 class="title_two">Courses Map</h2>
                <span></span> 
            </div>

            <div class="col-md-12" id="mapholder" style="border-color: black; " ></div>
          </div>           
      </div><!-- End container -->
  </section>


