<!--     <script type="text/javascript" src="<?php echo JS_PATH ?>jquery.twbsPagination.min.js"></script>
    <script type="text/javascript" src="<?php echo COURSES_JS_PATH ?>courses.js">  </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDSqOoI0Dz0NsL3-lLYzBC2tS4PVfDZ0Jc" async defer></script> -->

    <style>      
      .placeIcon {
        width: 20px;
        height: 34px;
        margin: 4px;
      }
      .hotelIcon {
        width: 24px;
        height: 24px;
      }
      #resultsTable {
        border-collapse: collapse;
        width: 240px;
      }
      #rating {
        font-size: 13px;
        font-family: Arial Unicode MS;
      }
      .iw_table_row {
        height: 18px;
      }
      .iw_attribute_name {
        font-weight: bold;
        text-align: right;
      }
      .iw_table_icon {
        text-align: right;
      }
    </style>

    <section id="imgBanner">
      <h2>Our Courses</h2>
    </section>
    
    <!--=========== BEGIN COURSE BANNER SECTION ================-->
  <section id="courseArchive">
      <div class="container">
          <!-- Filtros -->          
          <div class="row" id="row_primero">         
              <center>
                    <input type="text" value="" placeholder="Search Course ..." class="input_search" id="keyword" list="datalist">
              </center>
          </div><br><br><br><br>
          <!-- Mensaje -->
          <div class="row" ng-show="sinDatos">
            <center>No hay cursos con los filtros deseados.</center><br><br><br><br>
          </div>
          <!-- Cursos -->
          <div class="row" ng-show="coursesPintados">
              <div class="col-md-4 margin_img_home" ng-repeat="course in courlistPintar">
                  <div class="single_course">
                      <div class="singCourse_imgarea">
                          <img src="backend/{{course.avatar}}" alt="" class="mediana">
                          <div class="mask">
                              <a href="" class="course_more courseDetalles">View Course</a> 
                          </div>
                      </div>
                      <div class="singCourse_content">
                          <h3 class="singCourse_title">
                              <a href="" class="courseDetalles">{{course.title}}</a>
                          </h3>
                          <p class="singCourse_price">
                            {{course.price}}
                          </p>
                          <p>
                            {{(course.courseDescr).substring(0, 150)+" ..."}}
                          </p>
                      </div>
                      <div class="singCourse_author">
                        
                      </div>
                  </div>
              </div>
          </div>
          <!-- Paginacion -->
          <div class="row">              
              <center>
                  <ul uib-pagination
                      class="pagination-sm"
                      total-items="totalItems"
                      ng-model="currentPage"
                      max-size="5"
                      boundary-links="true"                      
                      items-per-page="itemsPage"
                      rotate="false"
                      ng-change="pageChanged()">                        
                  </ul>
              </center>
          </div>            
      </div>
  </section>


