





<section id="imgBanner">
      <h2>Courses Form</h2>
</section>

<section id="primerForm">
	<div class="container">
		<form name="formCur" novalidate="novalidate" ng-submit="submitCreateCourse(formCur.$valid)">
			<div class="row">

	            <div class="form-group">                   
	                 <div class="col-md-12">
	                 	<div class="msg"></div>	                    
	                 </div>
					<div class="col-md-12" id="div_dropzone">
	                    <div class="color_input">
	                       <div id="dropzone" class="dropzone "></div>                   
	                    </div>            
	                    <div id="progress">
	                             <div id="bar"></div>
	                             <div id="percent">0%</div >
	                    </div>
	                 </div>
	                 <div class="col-md-12">
	                 	<!-- <span id="sp_dropzone"></span> -->
	                 </div>
	          	</div>

				<div class="col-md-6">
					<div class="form-group ">
		                <label class="control-label " for="title">Title couse</label> 
		                <input id="title" name="title" type="text" class="form-control" required ng-model="courseForm.title">
		                <span id="sp_title" ></span>
		            </div>

					<div class="form-group ">
		                <label class="control-label" for="lenguage">Course Lenguge</label>  
	                    <select id="lenguage" name="lenguage" class="form-control" required ng-model="courseForm.lenguage">
	                        <option selected="" value=""></option>
	                        <option value="Spanish">Spanish</option>
	                        <option value="English">English</option>
	                        <option value="Portuguese">Portuguese</option>
	                        <option value="German">German</option>
	                    </select>
	                    <span id="sp_lenguage"></span>
		            </div>

					<div class="form-group ">
		                <label class="control-label " for="url">Video url couse</label> 
		                <input id="url" name="url" type="url" class="form-control " required ng-model="courseForm.url">
		                <span id="sp_url" ></span>
		            </div>

		            <div class="form-group ">
		                <label class="control-label" for="duration">Course duration</label>  
	                    <select id="duration" name="duration" class="form-control" required ng-model="courseForm.duration">
	                        <option selected="" value=""></option>
	                        <option value="betwen 1-3 hours">betwen 1-3 hours</option>
	                        <option value="betwen 3-5 hours">betwen 3-5 hours</option>
	                        <option value="betwen 5-10 hours">betwen 5-10 hours</option>
	                        <option value="greater than 10 hours">greater than 10 hours</option>
	                    </select>
	                    <span id="sp_duration"></span>
		            </div>
					
		            <div class="form-group ">		                
		                <label class="control-label">Course level</label>  
		                <div id="div_level"> 
		                    <label class="radio-inline" for="level-0">
		                      <input type="radio" name="level" id="level-0" value="Basic"  ng-model="courseForm.level" required> Basic
		                    </label> 
		                    <label class="radio-inline" for="level-1">
		                      <input type="radio" name="level" id="level-1" value="Medio" ng-model="courseForm.level" required> Medio
		                    </label>
		                    <label class="radio-inline" for="level-2">
		                      <input type="radio" name="level" id="level-2" value="Expert" ng-model="courseForm.level" required> Expert
		                    </label>
		                </div>
		            </div>

					<div class="form-group ">
		                <label class="control-label" for="subject">Course subject</label>  
	                    <select id="subject" name="subject" class="form-control" required="">
	                        <option selected="" value=""></option>
	                    </select>
	                    <span id="sp_subject"></span>
		            </div>

		            <div class="form-group ">
		                <label class="control-label" for="subSubject">Course sub-subject</label>  
	                    <select id="subSubject" name="subSubject" class="form-control" required="">
	                        <option selected="" value=""></option>
	                    </select>
	                    <span id="sp_subSubject"></span>
		            </div>

		            <div class="form-group ">
	                    <label class="control-label" for="price">Course Price:</label>
	                    <input id="price" name="price" type="text" placeholder="105.48" class="form-control " ng-pattern="regex.price" required ng-model="courseForm.price" >
	                    <span id="sp_price"></span> 
	                    <span class="help-block"><p id="characterLeft">If you need to use decimals numbers, please use a DOT to mark them. The number has to be greater than 0.01 and less than 1000000 <br> Ex: 1080.58</p></span> 
					</div>
				</div>
				


				<div class="col-md-6">
					<div class="form-group ">
	                    <label class="control-label" for="desc_curso">Course description</label>	                    
	                    <textarea class="form-control" type="textarea" name="desc_curso" id="desc_curso" placeholder="This course .." minlength="15" maxlength="350" rows="7" required ng-model="courseForm.desc_curso"></textarea>
	                    <span class="help-block"><p id="characterLeft">You have reached the limit 350 caracters</p></span> 
	                    <span id="sp_courseDescr"></span> 
					</div>

					
		            <div class="form-group ">
	                    <label class="control-label" for="desc_personal">Personal description</label>	                    
	                    <textarea class="form-control" type="textarea" name="desc_personal" id="desc_personal" placeholder="My experience is ..." minlength="15" maxlength="350" rows="7" required ng-model="courseForm.desc_personal"></textarea>
	                    <span class="help-block"><p id="characterLeft">You have reached the limit 350 caracters</p></span> 
	                    <span id="desc_sp_personal"></span> 
					</div>

					<div class="form-group ">
		                <label class="control-label">What will you learn with this course?</label>
		                <div id="div_subjets">
		                	<div class="row">
			                	<div class="col-md-3">		                		
				                    <label class="checkbox-inline"  >
				                          <input class="checkboxCategory" type="checkbox" name= ""  required ng-model="courseForm.ckb[0]" value="Backend"/>Backend
				                    </label> 
				                </div>

				                <div class="col-md-3">
				                    <label class="checkbox-inline"  >
				                          <input class="checkboxCategory" type="checkbox" name= "" required ng-model="courseForm.ckb[1]" value="Frondend"/>Frondend
				                    </label>
				                </div>
				                <!-- <div class="col-md-3">
				                    <label class="checkbox-inline"  >
				                          <input class="checkboxCategory" type="checkbox" name= "" required ng-model="courseForm.ckb" value="OS"/>OS
				                    </label>
				                </div>
				                <div class="col-md-3">
				                    <label class="checkbox-inline"  >
				                          <input class="checkboxCategory" type="checkbox" name= "" required ng-model="courseForm.ckb" value="Diseny"/>Diseny
				                    </label>
				                </div>
				                <div class="col-md-3">
				                    <label class="checkbox-inline"  >
				                          <input class="checkboxCategory" type="checkbox" name= "" required ng-model="courseForm.ckb" value="Robotics"/>Robotics
				                    </label>
				                </div>
				                <div class="col-md-3">
				                    <label class="checkbox-inline"  >
				                          <input class="checkboxCategory" type="checkbox" name= "" required ng-model="courseForm.ckb" value="Security"/>Security
				                    </label>
								</div>	
				                <div class="col-md-3">
				                    <label class="checkbox-inline"  >
				                          <input class="checkboxCategory" type="checkbox" name= "" required ng-model="courseForm.ckb" value="Javascript"/>Javascript
				                    </label>
				                </div>
				                <div class="col-md-3">
				                    <label class="checkbox-inline"  >
				                          <input class="checkboxCategory" type="checkbox" name= "" required ng-model="courseForm.ckb" value="PHP"/>PHP
				                    </label>
				                </div>
				                <div class="col-md-3">
				                    <label class="checkbox-inline"  >
				                          <input class="checkboxCategory" type="checkbox" name= "" required ng-model="courseForm.ckb" value="Django"/>Django
				                    </label>
				                </div>
				                <div class="col-md-3">
				                    <label class="checkbox-inline"  >
				                          <input class="checkboxCategory" type="checkbox" name= "" required ng-model="courseForm.ckb" value="Laravel"/>Laravel
				                    </label>
				                </div>
				                <div class="col-md-3">
				                    <label class="checkbox-inline"  >
				                          <input class="checkboxCategory" type="checkbox" name= "" required ng-model="courseForm.ckb" value="Angular"/>Angular
				                    </label>
				                </div>
				                <div class="col-md-3">
				                    <label class="checkbox-inline"  >
				                          <input class="checkboxCategory" type="checkbox" name= "" required ng-model="courseForm.ckb" value="Node js"/>Node js
				                    </label>
				                </div>
				                <div class="col-md-3">
				                    <label class="checkbox-inline"  >
				                          <input class="checkboxCategory" type="checkbox" name= "" required ng-model="courseForm.ckb" value="SQL"/>SQL
				                    </label>
				                </div>
				                <div class="col-md-3">
				                    <label class="checkbox-inline"  >
				                          <input class="checkboxCategory" type="checkbox" name= "" required ng-model="courseForm.ckb" value="Mongo"/>Mongo
				                    </label>
				                </div> -->
				            </div>

		                </div>
		                <br>
		                <span id="sp_subjets"></span>
		            </div>
		            
{{courseForm | json}}
				</div>
			</div> <!--End Row -->
			
			<br><br><br>

			<div class="row">				
				<button type="submit" class="pointer col-md-offset-4 col-md-4 btn btn-primary">Submit</button>				
			</div>
		</form>
	</div>
</section>


