<!DOCTYPE html>
<html lang="en">
  <head>
    <!--=============================================== 
    Template Design By WpFreeware Team.
    Author URI : http://www.wpfreeware.com/
    ====================================================-->

    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <title>Libra : Learn Easy</title>

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon -->
    <!-- <link rel="shortcut icon" type="image/icon" href="img/wpf-favicon.png"/> -->

    <!-- CSS
    ================================================== -->       
    <!-- Bootstrap css file-->
    <link href="<?php echo CSS_PATH ?>bootstrap.min.css" rel="stylesheet">
    <link href="<?php echo CSS_PATH ?>bootstrap-social.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- <a class="btn-social btn-lg btn-twitter">
    <span class="fa fa-twitter"></span>twitter
  </a> -->
    <!-- Font awesome css file-->
    <!-- <link href="view/css/font-awesome.min.css" rel="stylesheet"> -->
    <!-- Superslide css file-->
    <link rel="stylesheet" href="<?php echo CSS_PATH ?>superslides.css">
    <!-- Slick slider css file -->
    <link href="<?php echo CSS_PATH ?>slick.css" rel="stylesheet"> 
    <!-- Circle counter cdn css file -->
    <link rel='stylesheet prefetch' href='https://cdn.rawgit.com/pguso/jquery-plugin-circliful/master/css/jquery.circliful.css'>  
    <!-- smooth animate css file -->
    <link rel="stylesheet" href="<?php echo CSS_PATH ?>animate.css"> 
    <!-- preloader -->
    <!-- <link rel="stylesheet" href="view/css/queryLoader.css" type="text/css" /> -->
    <!-- gallery slider css -->
    <link type="text/css" media="all" rel="stylesheet" href="<?php echo CSS_PATH ?>jquery.tosrus.all.css" />    
    <!-- Default Theme css file -->
    <link id="switcher" href="<?php echo CSS_PATH ?>themes/default-theme.css" rel="stylesheet">
    <!-- Main structure css file -->
    <link href="<?php echo CSS_PATH ?>style.css" rel="stylesheet">
   
    <!-- Google fonts -->
    <link href='http://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'>   
    <link href='http://fonts.googleapis.com/css?family=Varela' rel='stylesheet' type='text/css'>    
    
    <!-- Dropzone -->
    <link rel="stylesheet" type="text/css" href="<?php echo CSS_DROPZONE ?>dropzone.css">
    
    
    <!-- Datepicker CSS -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    
   <!-- Datepicker JS-->
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    
    <!-- TOASTER -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
  </head>
 

    