<body>    

    <!-- SCROLL TOP BUTTON -->
    <a class="scrollToTop" href="#"></a>
    <!-- END SCROLL TOP BUTTON -->

    <!--=========== BEGIN HEADER SECTION ================-->
    <header id="header">
      <!-- BEGIN MENU -->
      <div class="menu_area">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">  
          <div id="menu_principal">
            <div class="navbar-header">
              <!-- FOR MOBILE VIEW COLLAPSED BUTTON -->
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <!-- LOGO -->
              <!-- TEXT BASED LOGO -->
              <a class="navbar-brand" href="<?php amigable('?module=homepage&function=homepage'); ?>">Libra <span>LearEasy</span></a>              
              <!-- IMG BASED LOGO  -->
               <!-- <a class="navbar-brand" href="index.html"><img src="img/logo.png" alt="logo"></a>  -->            
                     
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul id="top-menu" class="nav navbar-nav navbar-right main-nav">

                <li class="<?php saberModule('homepage');?>">
                    <a href="<?php amigable('?module=homepage&function=homepage');?>">Home</a>
                </li>
                

              <!--   <li class="<?php saberModule('courses');?>">
                    <a href="#" id="resetFiltros">Courses</a>
                </li> -->

                
                <li class="<?php saberModule('courses'); ?>"><a href="#" id="resetFiltros">Courses</a></li>

                <!-- <li><a href="#">Scholarship</a></li>
                <li><a href="#">Events</a></li>
                <li><a href="index.php?page=gallery&view=gallery">Gallery</a></li>                
                <li><a href="index.php?page=aboutUs&view=aboutUs">About us</a></li> -->
                
                <li class="<?php saberModule('contact');?>">
                    <a href="<?php amigable('?module=contact&function=view_contact');?>">Contact</a>
                </li>

                <li id="li-logIn" >
                    <a href="#" class="desactivate" data-toggle="modal" id="login" data-target="#modal_login ">Log in</a>
                </li>

                <li id="li-logOut" >
                    <a href="#" id="botonlogout">Log out</a>
                </li>


                <li class="dropdown <?php saberModule('profile'); ?>" id="li-profile"> 
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                      <img src="" id="avatar_menu" class="img-circle peque" alt=""><span id="userName"></span><span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu" role="menu">
                    <li>
                        <a href="<?php amigable('?module=profile&function=form');?>">Mi perfil</a>
                    </li>
                    <li>
                        <a href="<?php amigable('?module=courses&function=courseForm'); ?>">Add course</a>
                    </li>
                                  
                  </ul>
                </li>


                
                <!-- <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                      Page<span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">404 Page</a></li>
                    <li><a href="index.php?page=profile&view=profile">Link Two</a></li>
                    <li><a href="<?php amigable('?module=courses&function=courseForm'); ?>">Link Three</a></li>
                    <li><a href="<?php echo PROJECT . 'module/profile/view/modalLogin.html'; ?>" class="button special" data-toggle="modal" id="Logcxvin" data-target="#modal_login" >Link four</a></li>               
                  </ul>
                </li> -->

              </ul>           
            </div><!--/.nav-collapse -->
          </div>     
        </nav>  
      </div>
      <!-- END MENU -->    
    </header>
    <!--=========== END HEADER SECTION ================--> 





<!--=========== MODAL LIGIN ================--> 
    <style>
    #mdialTamanio{
      width: 40% !important;
    }
  </style>

<div id="LoginModal">
  
  <div class="modal fade"  id="modal_login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" hidden>
        <div class="modal-dialog" id="mdialTamanio" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    
                    <br>

                    <div class=" row modal-title" id="myModalLabel2">
                      <div class="col-md-6" >
                          <a class="opcionesLog" href="#" id="titleLogin">
                            <center><h4 style="border-bottom: 1px solid #000000;padding-bottom: 3px;">Log in</h4></center>
                          </a>
                      </div>

                      <div class=" col-md-6" >
                          <a class="opcionesLog" href="#" id="titleReg">
                            <center><h4>Sing up</h4></center>
                          </a>
                      </div>
                    </div>
                </div>


                <div class="modal-body" id="container">
                    <div class="form-group infoInLogin" id="info_logPro" style="display: none;">
                        <p class="text-center">Before to intro your product, please you have to make login. If you are not registered, please register bofore to make login.</p>
                    </div>

                    <div class="form-group infoInLogin" id="info_pay" style="display: none;">
                        <p class="text-center">Before to pay your product, please you have to make login. If you are not registered, please register bofore to make login.</p>
                    </div>
                    

                    <div class="row">
                        <div class="col-md-6">
                            <div id="hacerLogin">

                              <form id="loginForm">
                                    <div class="form-group">
                                        <input id="user_log" name="user_log" type="text" placeholder="your user name" value="" class="form-control input-md color_input inputKeyup" required="required" value="">
                                        <span id="sp_user_log" ></span>
                                    </div>

                                    <div class="form-group ">
                                        <input id="password_log" name="password_log" type="password" class="form-control input-md color_input inputKeyup" placeholder="your password" required=""  value="">
                                        <span id="sp_password_log" ></span>
                                    </div>
                                    
                                    <div class="form-group ">
                                        <a type="button" class="col-md-12 btn btn-success 378" id="btn-login">LOGIN</a>
                                        <br><br><br>
                                        <a href="#" id="btn-recovPass" title="">Dont remember your password?</a>
                                    </div>
                            </form>

                            </div>

                            <div id="hacerRegistro" style="display: none;">
                              <form id="registerForm">
                                  <div class="form-group">
                                        <input id="user_register" name="user_register" type="text" placeholder="your user name" value="" class="form-control input-md color_input inputKeyup" required="required" value="">
                                        <span id="sp_user_register" ></span>
                                    </div>

                                    <div class="form-group">
                                        <input id="email_register" name="email_register" type="email" placeholder="your_email@example.com" value="" class="form-control input-md color_input inputKeyup" required="required" value="">
                                        <span id="sp_email_register" ></span>
                                    </div>

                                    <div class="form-group ">
                                        <input id="password_register" name="password_register" type="password" class="form-control input-md color_input inputKeyup" placeholder="your password" required=""  value="">
                                      <span id="sp_password_register" ></span>
                                    </div>
                                    
                                    <div class="form-group ">       
                                        <a href="#" type="button" class="col-md-12 btn btn-warning" id="btn-singUp" title="">SING UP</a>
                                    </div>
                            </form>

                            </div>

                          
                        
                        </div>
                        <div class="col-md-6">
                            
                            <a class="btn btn-block btn-social btn-twitter" id="logintwitter">
                              <span class="fa fa-twitter"></span> Sign in with Twitter
                            </a>

                            <a class="btn btn-block btn-social btn-facebook" id="loginfacebook">
                              <span class="fa fa-facebook"></span> Sign in with facebook
                            </a>

                            <a class="btn btn-block btn-social btn-google" id="loginGoogle">
                              <span class="fa fa-google"></span> Sign in with google
                            </a>
                        </div>

                    </div>

                   
                </div>

                 <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    
                </div>
            </div>
        </div>
    </div>
</div>





<!--=========== MODAL RECOVER PASSWORD ================--> 

  
  <div class="modal fade"  id="modalrecovPass" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3" hidden>
        <div class="modal-dialog" id="mdialTamanio" role="document">
            <div class="modal-content">

                <div class="modal-header">                    
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class=" row modal-title" id="myModalLabel2">
                        <div class=" col-md-6" >
                            <a class="opcionesLog" href="#" id="titleReg">
                              <center>
                                  <h4>Recover Password</h4>
                              </center>
                            </a>
                        </div>
                    </div>                    
                </div>
            


                <div class="modal-body" id="container">
                    <div class="row">
                        <div class="col-md-offset-2 col-md-8">
                              <div class="form-group">
                                  <input id="email_recovPass" name="email_recovPass" type="email" placeholder="Your email" value="" class="form-control input-md color_input inputKeyup" required="required" value="">
                                  <span id="sp_email_recovPass" ></span>
                              </div>

                              <div class="form-group">
                                  <input id="email_recovPass2" name="email_recovPass2" type="email" placeholder="Re-enter your email" value="" class="form-control input-md color_input inputKeyup" required="required" value="">
                                  <span id="sp_email_recovPass2" ></span>
                              </div>                                
                        </div>
                    </div>
                </div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button id="doneRecovPass" type="button" class="btn btn-primary">Done</button>           
                </div>


            </div>
        </div>
  </div>

