  
    <section id="imgBanner">
      <h2>Contact</h2>
    </section>
    <!--=========== END COURSE BANNER SECTION ================-->
    
    <!--=========== BEGIN CONTACT SECTION ================-->
    <section id="contact">
      <div class="container">
       
         <div class="row">
            <div class="col-lg-12 col-md-12"> 
              <div class="title_area">
                <h2 class="title_two">We are Wpf Degree</h2>
                <span></span> 
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
              </div>
            </div>
         </div>


         <div class="row">
           <div class="col-lg-8 col-md-8 col-sm-8">
             <div class="contact_form wow fadeInLeft">
                
                <form id="contact_form" name="contact_form" class="submitphoto_form" ng-submit="SubmitContact( contact_form.$valid )" novalidate="novalidate">
                  <div class="form-group">
                    <input id="inputName" name="inputName" type="text" class="form-control wpcf7-text" placeholder="Your name" required ng-model="contact.inputName" minlength="3">
                  </div>
                  <!-- es : {{contact_form.inputName.$valid}} -->
                    

                  <div class="form-group">
                    <input type="email" id="inputEmail" name="inputEmail" class="form-control wpcf7-email" placeholder="Email address" required ng-model="contact.inputEmail" >
                  </div>
                    

                  <div class="form-group">
                    <input id="inputSubject" name="inputSubject" type="text" class="form-control wpcf7-text" placeholder="Subject" required ng-model="contact.inputSubject">
                  </div>
                    

                  <div class="form-group">
                    <textarea id="inputMessage" name="inputMessage" class="form-control wpcf7-textarea" cols="30" rows="10" placeholder="What would you like to tell us" required ng-model="contact.inputMessage"></textarea>
                  </div>
                    
                    
                    <!-- <input type="hidden" name="token" value="contact_form" /> -->
                    
                    <button type="submit" class="btn btn-primary col-md-offset-4 col-md-4"> Send</button>
                    
                    
                    <img src="frontend/module/contact/view/img/ajax-loader.gif" alt="ajax loader icon" class="ajaxLoader" ng-show="loaderImg"/><br/><br/>
              
                    <!-- <div id="resultMessage" style="display: none;"></div> -->
                </form>
             </div>
           </div>

           <div class="col-lg-4 col-md-4 col-sm-4">
             <div class="contact_address wow fadeInRight">
               <h3>Address</h3>
               <div class="address_group">
                 <p>200 Lincoln
                 <p>Phone: 662-807-9585</p>
                 <p>Email:contact@wpfdegree.com</p>
               </div>             
             </div>
           </div>
         </div>

      </div>
    </section>
    <!--=========== END CONTACT SECTION ================-->

    <!--=========== BEGIN GOOGLE MAP SECTION ================